<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionName="1.2" package="BSA.BSA" android:versionCode="6">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
	<application android:label="BayardsSafetyApp" android:icon="@drawable/icon"></application>
</manifest>